{%extends "registration/layout.html"%}

{% block content %}
<div class="container mb-4 pb-4" style="height: 60vh;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-3"></div>

    <div class="col-lg-6 mt-4 pt-2 ">
        <img src="{{ user.profile.photo.url }}" alt="" class="d-flex justify-content-start rounded-circle img-fluid mr-1" style="width: 100px;">
            <h2> {{user.username}} </h2>
      <p> {{user.email}} </p>
       <p> {{ user.profile.bio }}  </p>

    </div>

    
    <!-- empty div -->
    <div class="col-lg-3"></div>
  </div>
</div>

{% endblock %}